:root {
  --scale: 100%;
}

@media (min-width: 1600px) {
  :root { 
    --scale: 125%;
  }
}

@media (min-width: 1200px) {
  :root { 
    --scale: 112.5%;
  }
}

@media (max-width: 768px) {
  :root {
    --scale: 87.5%;
  }
}

@media (max-width: 480px) {
  :root {
    --scale: 75%;
  }
}
