.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons.is-centered {
  justify-content: center;
}

.buttons button {
  margin: 0 calc(var(--gap) / 2) calc(var(--gap) / 2) 0;
}

.buttons button:last-of-type {
  margin-right: 0;
}

/*
 * Base button
*/
.button {
  margin-bottom: calc(var(--gap) / 2);
  padding: calc(var(--gap) / 3) calc(var(--gap) / 2);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: var(--base-size);
  font-weight: 500;
  background: transparent;
  border: 0.0625rem solid var(--default);
  border-radius: 0.25rem;
  color: var(--main-color);
  white-space: nowrap;
}

/*
 * Sizes
*/
.button.is-small {
  font-size: 0.75rem;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}


.button:active {
  transform: scale(0.95);
}

/*
 * Primary button
*/
.button.is-primary {
  color: white;
  background: var(--primary);
  border-color: var(--primary-accent);
}

.button.is-primary:hover {
  background: var(--primary-accent);
}

/*
 * Secondary button
*/
.button.is-secondary {
  color: white;
  background: var(--secondary);
  border-color: var(--secondary-accent);
}

.button.is-secondary:hover {
  background: var(--secondary-accent);
}

/*
 * Success button
*/
.button.is-success {
  color: white;
  background: var(--success);
  border-color: var(--success-accent);
}

.button.is-success:hover {
  background: var(--success-accent);
}

/*
 * Warning button
*/
.button.is-warning {
  color: white;
  background: var(--warning);
  border-color: var(--warning-accent);
}

.button.is-warning:hover {
  background: var(--warning-accent);
}

/*
 * Danger button
*/
.button.is-danger {
  color: white;
  background: var(--danger);
  border-color: var(--danger-accent);
}

.button.is-danger:hover {
  background: var(--danger-accent);
}

/*
 * Dark button
*/
.button.is-dark {
  color: white;
  background: var(--dark);
  border-color: var(--dark-accent);
}

.button.is-dark:hover {
  background: var(--dark-accent);
}
