table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  margin-bottom: var(--gap);
}

table th,
table td {
  vertical-align: middle;
  padding: calc(var(--gap) / 4) calc(var(--gap) / 4);
}

table thead {
  border-bottom: 0.0625rem solid currentColor;
}
