.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: var(--gap);
}

.card {
  background: var(--card-background);
  color: var(--main-color);
  flex-direction: column;
  overflow: hidden;
  flex: 0 1 calc(50% - 0.5rem);
  box-shadow: 0 0.375rem 0.875rem rgba(10, 10, 10, 0.1);
  margin-bottom: var(--gap);
}

.card-header {
  font-weight: 600;
  margin: 0;
  padding: var(--gap) var(--gap) calc(var(--gap) / 2) var(--gap);
}

.card-body {
  padding: calc(var(--gap) / 2) var(--gap) var(--gap);
  min-height: 6;
}

.card-footer {
  background: var(--card-footer-background);
  padding: calc(var(--gap) / 2);
  display: flex;
  align-items: stretch;
  flex: 1;
}
