.menu-list {
  padding: 0;
  margin: 0;
  line-height: 1.25;

  a,
  a:visited {
    border-radius: 0.25rem;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.75em;
    text-decoration: none;

    .icon {
      margin-right: 0.25rem;
    }

    &:hover {
      background-color: #019ee1;
      color: white;
    }

    &.is-active {
      background-color: #06a9dc;
      color: #FFF;
    }
  }

  li {
    cursor: pointer;
    list-style-type: none;
    margin: 0;

    ul {
      border-left: 2px solid #b9cad7;
      margin: 0.75em;
      padding-left: 0.75em;
    }
  }
}

.menu-label {
  color: var(--dark);
  font-size: 87.5%;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
