@-ms-viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: var(--noise), linear-gradient(15deg, var(--html-bg), var(--html-bg-accent));
  font-size: var(--font-size);
  min-height: 100%;
  word-break: break-word;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  /* background: var(--main-background); */
  background: var(--noise), var(--main-background);
  line-height: var(--line-height);
  color: var(--main-color);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: var(--base-size);
  font-weight: 400;
  font-style: normal;
}
