.is-clickable {
  cursor: pointer !important;
  pointer-events: all !important;
}

.is-dimmed {
  opacity: 0.5 !important;
}

.is-disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.is-resizeble {
  resize: both !important;
}

.is-not-resizeble {
  resize: none !important;
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}
