/* Topbar nav */
.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav ul li {
  margin: 0;
}

.nav ul li.nav-item {
  margin-right: 1.25rem;
}

.nav ul li.nav-item button {
  margin-bottom: 0;
}

.nav ul li.nav-item a,
.nav ul li.nav-item a:visited {
  color: var(--white);
  font-size: 1.15rem;
  transition: all 0.15s 0.19, 1, 0.22, 1;
  font-weight: 400;
  text-decoration: none;
}

.nav ul li.nav-item a:hover {
  color: var(--white-accent);
  text-decoration: underline;
}

.nav ul li.nav-item:last-child {
  margin-right: 0;
}

/* Brand */
.nav .nav-brand {
  color: white;
  margin: 0 1.25rem 0 0;
}

.nav .nav-brand > h1 {
  margin: 0;
}

