.topbar {
  width: 100%;
  padding: 0.625rem 1.25rem;

  box-shadow: 0 16px 24px rgba(50, 50, 93, 0.11);
  background: var(--noise), linear-gradient(15deg, var(--topbar-bg), var(--topbar-bg-accent));

  display: flex;
  align-items: center;
}
